<header class="router-nav mb-3">
  <h1 class="sr-only">the header</h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top top-ribbonstyle d-flex flex-row">

    <a class="navbar-brand darkorange" href="/home" routerLink="/home" routerLinkActive="active">
      <span class="material-icons">home</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a title="music index" class="nav-item nav-link " href="/landing" routerLink="/landing" routerLinkActive="active">
          <span class="material-icons">dashboard</span>
        </a>


        <a title="recent and best" class="nav-item nav-link" href="/units/unit1" routerLink="/units/unit1"
          routerLinkActive="active">
          <span class="material-icons">library_music</span>
        </a>

        <a title="the Hill/Sallis works" class="nav-item nav-link" href="/units/unit2" routerLink="/units/unit2"
          routerLinkActive="active">
          <span class="material-icons">queue_music</span>
        </a>

        <a title="primitive VST series" class="nav-item nav-link" href="/units/unit3" routerLink="/units/unit3"
          routerLinkActive="active">
          <span class="material-icons">folder_special</span>
        </a>

        <a title="SoundCloud iframes" class="nav-item nav-link" href="/units/unit4" routerLink="/units/unit4"
          routerLinkActive="active">
          <span class="material-icons">cloud_circle</span>
        </a>

        <a title="test bed" class="nav-item nav-link" href="/units/unit5" routerLink="/units/unit5" routerLinkActive="active">
          <span class="material-icons">music_note</span>
        </a>

        <a title="cabinet" class="nav-item nav-link" href="/units/unit6" routerLink="/units/unit6" routerLinkActive="active">
          <span class="material-icons">add_box</span>
        </a>
      </div>
    </div>

  </nav>



</header>
