<div class="container bg-primary py-3 page-wrap">

  <div class="jumbotron jumbotron-fluid bg-john text-anthony">
    <div class="container">
      <h1 class="display-4">Unit 6 - other early work</h1>
      <p class="lead font-weight-bold"> <span class="material-icons">copyright</span> {{copyright}}</p>

    </div>
  </div>


  <nav>
    <div class="nav nav-tabs font-weight-bold bg-paleyellow font-22" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
        aria-selected="true">top item</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
        aria-selected="false">next item</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact"
        aria-selected="false">next item</a>
    </div>
  </nav>
  <div class="tab-content mt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <div class="card">
        <h5 class="card-header">Subject 1</h5>
        <div class="card-body">
          <h5 class="card-title"></h5>
          <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Heading</h4>
            <p>Content </p>
            <hr>
            <p class="mb-0 text-dark"> &copy; Anthony Sallis</p>
          </div>

        </div>
      </div>

      <div class="mb-3"></div>

      <div class="container">
        <div class="row">
          <div class="col-lg col-md-12">

            list items here

          </div>

        </div>
      </div>


    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <!-- top card -->
      <div class="card mb-3">
        <h5 class="card-header bg-light darkorange font-22">Musikey, <a href="http://www.syntiac.com/studiofactory.html"
            target="_blank">StudioFactory</a></h5>
        <div class="card-body">
          <h5 class="card-title">Dawn of the digital age</h5>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg col-md-12">

            List items here



          </div>

        </div>
      </div>




    </div>

    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

      <!-- tab 3 vertical submenu -->
      <div class="row">

        <div class="col-6 col-sm-4 col-xl-2">
          <div class="nav flex-column nav-pills my-submenu font-20 hivis" id="v-pills-tab" role="tablist"
            aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
              aria-controls="v-pills-home" aria-selected="true">Analog</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
              aria-controls="v-pills-profile" aria-selected="false">Tascam 144</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
              aria-controls="v-pills-messages" aria-selected="false">Palmer Lane</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
              aria-controls="v-pills-settings" aria-selected="false">Old friends</a>
          </div>
        </div>
        <div class="col">
          <div class="tab-content text-white font-18" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
              <Main>Korg MS-20, SQ-10</Main>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">digitised
              relics</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

              <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">rarities, oddments</h4>
                <p>discoveries </p>
                <hr>
                <p class="mb-0">meta</p>
              </div>



            </div>



            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">

              <div class="jumbotron jumbotron-fluid" style="color:#000 !important;">
                <div class="container">
                  <h1 class="display-4">Victoria St, 1979-80</h1>
                </div>
                <p class="lead p-3">Ancient history under glass</p>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
