<div class="container bg-primary py-3 page-wrap">

  <div class="jumbotron jumbotron-fluid bg-john text-anthony">
    <div class="container">
      <h1 class="display-4">Unit 4 - Soundcloud</h1>
      <p class="lead font-weight-bold"> <span class="material-icons">copyright</span> {{copyright}}</p>

    </div>
  </div>

    <h2 class="py-3">Speedcomp entries at SoundCloud</h2>


    <div class="bg-nick" style="border-color: red;padding: 1rem;">

      <h3><a href="https://soundcloud.com/anthony-sallis-2/23jan15-anthonysallis-speedcomp13">Speedcomp 13</a></h3>

      
    
    
    </div>




</div>
