<div class="container bg-peter py-3 page-wrap">

  <div class="jumbotron jumbotron-fluid bg-ruby text-hieu  linear-grad3">
    <div class="container">
      <h1 class="display-4">On SoundCloud</h1>
      <p class="lead font-weight-bold"> <span class="material-icons">copyright</span> {{copyright}}</p>

    </div>
  </div>



  <div class="" style="display: inline-block;text-align: center;">
    <a class="text-hieu spcomplink d-flex justify-content-center" target="_blank" href="https://www.facebook.com/speedcompage/">

      <img class="img-fluid align-self-center pr-3" width="80" src="assets/icons/speedcomp-logo.png">
      <h2 class="py-3 text-black align-self-center">
        10 samples, 30 minutes
      </h2>
      
    </a></div>

  <div class="bg-nick mt-3" style="border-color: red;padding: 1rem;">
    <h3><a href="https://soundcloud.com/anthony-sallis-2/">
        <span style="color: darkgreen;" class="material-icons">alternate_email</span>SoundCloud</a></h3>
  </div>

  <div class="bg-nick" style="border-color: red;padding: 1rem;">

    <iframe width="100%" height="650" scrolling="yes" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https://soundcloud.com/anthony-sallis-2/sets/speedcomps&amp;auto_play=false&amp;buying=true&amp;liking=true&amp;download=true&amp;sharing=true&amp;show_artwork=true&amp;show_comments=true&amp;show_playcount=true&amp;show_user=true&amp;hide_related=false&amp;visual=true&amp;start_track=0&amp;callback=true">
    </iframe>
  </div>

</div>
<script>
  var iframeElement = document.querySelector('iframe');
  var iframeElementID = iframeElement.id;
  var widget1 = SC.Widget(iframeElement);
  var widget2 = SC.Widget(iframeElementID);
</script>