
<div class="container bg-nick py-3 page-wrap">

  <div class="jumbotron jumbotron-fluid bg-order65 text-anthony">
    <div class="container">
      <h1 class="display-4">Unit 7 - List of tracks</h1>
      <p class="lead font-weight-bold"> <span class="material-icons">copyright</span> {{copyright}}</p>

    </div>
  </div>


 	<div>
    
    <!--
Howler
https://github.com/goldfire/howler.js

    -->
    <div class="fb-share-button" data-href="http://astext.net/site014/home" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fastext.net%2Fsite014%2Fhome&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
    

    <div *ngFor="let track of tracks">
      <div>
        Years {{ this.tracks.year }}
      </div>


    </div>

        
	</div>
