<!-- {{ partName }} -->

<div class="font-weight-bold m-3 p-3 text-john linear-grad2">
    <div class="pb-2"><span class="font-18 text-peter">Music Box {{appver}}</span> is made with</div>
    <div class="pl-3">
      <div>Bootstrap {{bootstrapver}}</div>
      <div>Angular {{angularver}}</div>
      <div>{{ngcliver}}</div>
      <div>{{typescriptver}}</div>
      <div>{{iconsname}} {{iconsver}}</div>
      <div class="pt-2"><span class="text-anthony">{{ lastUpdate | date: "MMMM dd, yyyy hh:mm a" }}</span></div>
    </div>
  </div>
