/*  import standard music box sass  */

@import "../../../../../scss/musicbox.scss" ;


div {
    
    //display: flex ;
    //align-content: center  ;
     
    & .spk-single {
        width: 800px ;
       background-color: rgba(204, 101, 199, 0.342) !important ;
       padding: 1rem ;
        
    }

}