<div class="container bg-ruby pb-3 page-wrap">

  <div class="jumbotron jumbotron-fluid bg-john text-anthony">
    <div class="container">
      <h1 class="display-4">Hill/Sallis</h1>
      <p class="lead">At the end of the punk era ...</p>
      <p class="lead font-weight-bold"> <span class="material-icons">copyright</span> {{copyright}}</p>

    </div>
  </div>

    <h5 class="card-header">
      The Hill/Sallis collaborations
      <div class="text-center">
        <button class="btn btn-outline-order65" (click)="show = !show">{{show ? 'Hide notes' : 'Show notes'}} </button></div>
      <!-- <ng-template #elseBlock> - background to the Hill/Sallis collaborations </ng-template> -->
    </h5>
    <!-- <div class="card-body" *ngIf="show; else elseBlock"> -->
    <div class="card-body" *ngIf="show">
      <h5 class="card-title"></h5>
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Sometime in Sydney</h4>
        <p>Stephen and I decided to do music together in June 1978 during a conversation on my birthday at the Rex
          Hotel, Sydney. We started writing several songs, intended as SPK material. Regardless of the vexed
          and unreliable narrative of SPK as it is officially fetishised and jealously possessed by later stakeholders,
          Stephen and I wrote and rehearsed hard and often, months before I eventually auditioned for Graeme Revell
          in late 1978/early 1979(?) to perform with his version of the band. <strong>No More</strong> was the first song we wrote
          together and that first set of emerging songs included prototypes of Stephen's early lyrics for SPK OK and Contact later used
          in the 'industrial'
          format they perceived as more suitable to the times. Our other unreconstructed punk songs were <strong>Shortfuse,</strong>
          Mommy Daddy and Me,
          Hiroshima/Nagasaki (Holocaust Me) and others. We played our first gig at the Tin Sheds annex, Sydney University, in 1978.
          Later I played bass with Stephen, Graeme and Danny Rumour a) at the Garibaldi's gig, and b) on the Stephen Jones video. No More appears on the first SPK single.</p>
        <hr>
        <p class="mb-0">&copy; music Anthony Sallis lyrics Stephen Hill</p>
      </div>

    </div>


  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg col-md-12">

        <div class="music-box-item bg-light shadow" *ngFor="let comps of unit2compositions">

          <div class="mb-title dont-break-out">
            {{comps.title}}
          </div>
          <div class="mb-caption">
            {{comps.caption}}
          </div>

          <div class="mb-audio">
            <audio controls>
              <source src="{{comps.source}}" type="audio/mp3">
              <p>Your browser doesn't support HTML5 audio. Here is
                a <a href="{{comps.source}}">link to the audio</a> instead.</p>
            </audio>
          </div>

          <div class="mb-metadata">
            <small class="text-muted"><strong>Year:</strong> {{comps.year}} <strong class="pl-3">Key:</strong>
              {{comps.key}}</small>
          </div>

        </div>



      </div>

    </div>
  </div>

</div>
