/*  import standard music box sass  */

@import "../../../../../scss/musicbox.scss";

@import "../../../../../styles.scss";





table.testbed {
  background-color: lavender !important;
}


 .internal-nav {
  position: relative;
  //top: 3.5rem;
  background-color: blues(10);

  & ul li:first-child {
    position: relative;
    top: .8rem;
  }


  & a {
    color: $hivisyellow;

  }

  @include media-breakpoint-down(sm) {
    //top: 2.5rem;
  }


  // http://www.evotech.net/blog/2007/04/named-html-entities-in-numeric-order/
  // remove the u

  & .nav li:not(:first-child):before {
    content: "\00a0 \2022 \00a0";
    color: blues(04);
    font-size: 2rem;
    position: relative;
    top: .3rem;
    white-space: nowrap;
    padding-left: 5px;
  }

}


.to-top {

  position: fixed;
  bottom: 5rem;
  right: 1rem;
  float: right;
  text-align: right;
  
  & a {
    padding: 1rem;
    background-color: yellows(01);
    
      &:hover {
      background-color: doranges(03) ;
    }
  }
}

// expiring notice application styles

.expiring-notice-wrapper {

  min-height: 100px ;
  border:thin solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #fffff0;
  display: flex ;
  align-items: center;

  & .entext {
    font-size: 22px ;

    &:nth-child(1) {
      background-color: darkgreen ;
      color: #000 ;
    }
  
  }
  & .enicon span {
     font-size: 64px !important;
     padding-right: 1rem;
   

  }

  


}
