<div class="container bg-secondary py-3 page-wrap">

  <div id="top" class="jumbotron jumbotron-fluid bg-john text-anthony">
    <div class="container">
      <h1 class="display-4">Web dev</h1>
      <p class="lead font-weight-bold"> <span class="material-icons">copyright</span> {{copyright}}</p>

      <div class="mt-3 internal-nav font-20">

        <ul class="nav list-unstyled pl-3">
          <li><a href="/unit5#inhouse" (click)="goTo($event,'inhouse')">Inhouse</a></li>
          <li><a href="/unit5#yellows" (click)="goTo($event,'yellows')">Yellows</a></li>
          <li><a href="/unit5#blues" (click)="goTo($event,'blues')">Blues</a></li>
          <li><a href="/unit5#doranges" (click)="goTo($event,'doranges')">Oranges</a></li>
          <li><a href="/unit5#dgreens" (click)="goTo($event,'dgreens')">Greens</a></li>
          <li><a href="/unit5#dpurples" (click)="goTo($event,'dpurples')">Purples</a></li>
          <li><a href="/unit5#dbrowns" (click)="goTo($event,'dbrowns')">Browns</a></li>
        </ul>

      </div>


    </div>
  </div>


  <h2>Dev notes</h2>
  <p class="text-hieu">Site 14: Aug-Sep 2020 reorder modules, freshen up, adding content.</p>
  <p class="text-hieu">Site 12: (Sept19 to May20)superceded due to Ivy compiler error - ngcc - on upgrading Angular CLI. Solution was to
    create new Angular app site013 and migrate content.</p>
  <p class="text-hieu">Site 13: superceded due to Angular upgrade compatibility fails. Solution was to create new
    Angular app site014 and migrate content. (Sept 2019 to June 2020.)</p>

  <h3 id="inhouse" class="text-john">Inhouse palette</h3>

  <p class="text-anthony">Programatic SCSS variations from these base colours:</p>

  <div class="mt-3 p-3 d-flex flex-wrap text-white bg-hieu">
    <div class="swatch-inhouse01 flex-fill px-3 py-1">darkbrown 01</div>
    <div class="swatch-inhouse02 flex-fill px-3 py-1">darkpurple 02</div>
    <div class="swatch-inhouse03 flex-fill px-3 py-1">darkgreen 03</div>
    <div class="swatch-inhouse04 flex-fill px-3 py-1">darkorange 04</div>
    <div class="swatch-inhouse05 flex-fill px-3 py-1">brightblue 05</div>
    <div class="swatch-inhouse06 flex-fill px-3 py-1">hivisyellow 06</div>
    <div class="swatch-inhouse07 flex-fill px-3 py-1">navyblue 07</div>
    <!-- flex-shrink-1 -->

  </div>

  <h3 id="yellows" class="mt-3 text-anthony">Yellows (from hivisyellow 06)</h3>

  <div class="yellows-box bg-dark">
    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-yellows01 flex-fill px-3 py-1">yellow 01</div>
      <div class="swatch-yellows02 flex-fill px-3 py-1">yellow 02</div>
      <div class="swatch-yellows03 flex-fill px-3 py-1">yellow 03</div>
      <div class="swatch-yellows04 flex-fill px-3 py-1">yellow 04</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-yellows05 flex-fill px-3 py-1">yellow 05</div>
      <div class="swatch-yellows06 flex-fill px-3 py-1">yellow 06</div>
      <div class="swatch-yellows07 flex-fill px-3 py-1">yellow 07</div>
      <div class="swatch-yellows08 flex-fill  px-3 py-1">yellow 08</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-yellows09 text-black flex-fill px-3 py-1">yellow 09</div>
      <div class="swatch-yellows10 flex-fill px-3 py-1">yellow 10</div>
      <div class="swatch-yellows11 flex-fill px-3 py-1">yellow 11</div>
      <div class="swatch-yellows12 flex-fill px-3 py-1">yellow 12</div>
    </div>

  </div>


  <h3 id="blues" class="mt-3 text-anthony">Blues (from brightblue 05)</h3>

  <div class="blues-box bg-dark">
    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-blues01 flex-fill px-3 py-1">blues 01</div>
      <div class="swatch-blues02 flex-fill px-3 py-1">blues 02</div>
      <div class="swatch-blues03 flex-fill px-3 py-1">blues 03</div>
      <div class="swatch-blues04 flex-fill px-3 py-1">blues 04</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-blues05 flex-fill px-3 py-1">blues 05</div>
      <div class="swatch-blues06 flex-fill px-3 py-1">blues 06</div>
      <div class="swatch-blues07 flex-fill px-3 py-1">blues 07</div>
      <div class="swatch-blues08 flex-fill  px-3 py-1">blues 08</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-blues09 flex-fill px-3 py-1">blues 09</div>
      <div class="swatch-blues10 flex-fill px-3 py-1">blues 10</div>
      <div class="swatch-blues11 flex-fill px-3 py-1">blues 11</div>
      <div class="swatch-blues12 flex-fill px-3 py-1">blues 12</div>
    </div>

  </div>

  <h3 id="doranges" class="mt-3 text-anthony">Dark oranges (from darkorange 04)</h3>

  <div class="doranges-box bg-dark">
    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-doranges01 flex-fill px-3 py-1">doranges 01</div>
      <div class="swatch-doranges02 flex-fill px-3 py-1">doranges 02</div>
      <div class="swatch-doranges03 text-dark flex-fill px-3 py-1">doranges 03</div>
      <div class="swatch-doranges04 text-dark flex-fill px-3 py-1">doranges 04</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-doranges05 flex-fill px-3 py-1">doranges 05</div>
      <div class="swatch-doranges06 flex-fill px-3 py-1">doranges 06</div>
      <div class="swatch-doranges07 flex-fill px-3 py-1">doranges 07</div>
      <div class="swatch-doranges08 flex-fill  px-3 py-1">doranges 08</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-doranges09 flex-fill px-3 py-1">doranges 09</div>
      <div class="swatch-doranges10 flex-fill px-3 py-1">doranges 10</div>
      <div class="swatch-doranges11 flex-fill px-3 py-1">doranges 11</div>
      <div class="swatch-doranges12 flex-fill px-3 py-1">doranges 12</div>
    </div>

  </div>

  <h3 id="dgreens" class="mt-3 text-anthony">Dark greens (from darkgreen 03)</h3>

  <div class="dgreens-box bg-dark">
    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dgreens01 flex-fill px-3 py-1">dgreens 01</div>
      <div class="swatch-dgreens02 flex-fill px-3 py-1">dgreens 02</div>
      <div class="swatch-dgreens03 flex-fill px-3 py-1">dgreens 03</div>
      <div class="swatch-dgreens04 flex-fill px-3 py-1">dgreens 04</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dgreens05 flex-fill px-3 py-1">dgreens 05</div>
      <div class="swatch-dgreens06 flex-fill px-3 py-1">dgreens 06</div>
      <div class="swatch-dgreens07 flex-fill px-3 py-1">dgreens 07</div>
      <div class="swatch-dgreens08 flex-fill  px-3 py-1">dgreens 08</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dgreens09 flex-fill px-3 py-1">dgreens 09</div>
      <div class="swatch-dgreens10 flex-fill px-3 py-1">dgreens 10</div>
      <div class="swatch-dgreens11 flex-fill px-3 py-1">dgreens 11</div>
      <div class="swatch-dgreens12 flex-fill px-3 py-1">dgreens 12</div>
    </div>

  </div>


  <h3 id="dpurples" class="mt-3 text-anthony">Dark purples (from darkpurple 02)</h3>

  <div class="dpurples-box bg-dark">
    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dpurples01 flex-fill px-3 py-1">dpurples 01</div>
      <div class="swatch-dpurples02 flex-fill px-3 py-1">dpurples 02</div>
      <div class="swatch-dpurples03 flex-fill px-3 py-1">dpurples03</div>
      <div class="swatch-dpurples04 flex-fill px-3 py-1">dpurples 04</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dpurples05 flex-fill px-3 py-1">dpurples 05</div>
      <div class="swatch-dpurples06 flex-fill px-3 py-1">dpurples 06</div>
      <div class="swatch-dpurples07 flex-fill px-3 py-1">dpurples 07</div>
      <div class="swatch-dpurples08 flex-fill  px-3 py-1">dpurples 08</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dpurples09 flex-fill px-3 py-1">dpurples 09</div>
      <div class="swatch-dpurples10 flex-fill px-3 py-1">dpurples 10</div>
      <div class="swatch-dpurples11 flex-fill px-3 py-1">dpurples 11</div>
      <div class="swatch-dpurples12 flex-fill px-3 py-1">dpurples 12</div>
    </div>

  </div>



  <h3 id="dbrowns" class="mt-3 text-anthony">Dark browns (from darkbrown 01)</h3>

  <div class="dbrowns-box bg-dark">
    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dbrowns01 flex-fill px-3 py-1">dbrowns 01</div>
      <div class="swatch-dbrowns02 flex-fill px-3 py-1">dbrowns 02</div>
      <div class="swatch-dbrowns03 flex-fill px-3 py-1">dbrowns 03</div>
      <div class="swatch-dbrowns04 flex-fill px-3 py-1">dbrowns 04</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dbrowns05 flex-fill px-3 py-1">dbrowns 05</div>
      <div class="swatch-dbrowns06 flex-fill px-3 py-1">dbrowns 06</div>
      <div class="swatch-dbrowns07 flex-fill px-3 py-1">dbrowns 07</div>
      <div class="swatch-dbrowns08 flex-fill  px-3 py-1">dbrowns 08</div>
    </div>

    <div class="p-2 d-flex flex-wrap">
      <div class="swatch-dbrowns09 flex-fill px-3 py-1">dbrowns 09</div>
      <div class="swatch-dbrowns10 flex-fill px-3 py-1">dbrowns 10</div>
      <div class="swatch-dbrowns11 flex-fill px-3 py-1">dbrowns 11</div>
      <div class="swatch-dbrowns12 flex-fill px-3 py-1">dbrowns 12</div>
    </div>

  </div>



  <div class="fixed-bottom float-right to-top">
    <a title="go top" href="/unit5#top" (click)="goTo($event,'top')">
      <!-- <span class="material-icons">arrow_upward</span> -->
      <span class=""><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24">
          <path d="M7 14l5-5 5 5z" />
          <path d="M0 0h24v24H0z" fill="none" /></svg></span>
    </a>
  </div>

</div>