@import 'scss/sitestyles.scss';
@import 'scss/swatches';


@import './node_modules/bootstrap/scss/bootstrap'; 


//html, body {height: 100%;}


body { padding: 0 0 8rem 0;
        background-color: rgb(85, 238, 85) ;
        
}

.page-wrap {
    background-color: rgb(98, 226, 226);

}

