<div class="container bg-anthony py-3 page-wrap">


  <div class="jumbotron jumbotron-fluid bg-john text-anthony">
    <div class="container">
      <h1 class="display-4 text-shadow">Music and web</h1>

    </div>
  </div>


  <div class="col-12">


    <div class="col-12 my-3 p-3 bg-warning">

      <ul class="list-inline pb-5 h3">

        <li class="pb-2"><a href="/landing" routerLink="/landing">Music contents</a></li>

        <li class="pb-2"><a href="/units/unit1" routerLink="/units/unit1">Most recent music</a></li>

        <li class="pb-2"><a href="/units/unit5" routerLink="/units/unit5">Web dev (unit 5)</a></li>

        <li class="pb-2"><a href="/units/unit7" routerLink="/units/unit7">All tracks</a></li>

      </ul>

    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <div class="font-weight-bold m-3 p-3 text-john linear-grad2">
        <div><span class="font-18">Music Box {{appver}}</span> is made with</div>
        <div class="pl-3">
          <div>Bootstrap {{bootstrapver}}</div>
          <div>{{angularver}}</div>
          <div>{{ngcliver}}</div>
          <div>{{typescriptver}}</div>
        </div>
      </div>
    </div>
  </div>
</div>