<!-- {{ partName }}-->

<div class="container bg-anthony py-3 page-wrap linear-grad2">


  <div class="jumbotron jumbotron-fluid bg-john text-anthony">
    <div class="container">
      <h1 class="display-4 text-shadow">Music and web</h1>

    </div>
  </div>


  <div class="col-12">


    <div class="col-12 my-3 p-3 bg-warning">

      <ul class="list-inline pb-5 h3 swatch-doranges02 linear-grad2">

        <li class="p-2"><a href="/landing" routerLink="/landing">Music contents</a></li>

        <li class="p-2"><a href="/units/unit1" routerLink="/units/unit1">Semi recent</a></li>

        <li class="p-2"><a href="/units/unit2" routerLink="/units/unit2">1978-79 - punk music</a></li>

        <li class="p-2"><a href="/units/unit3" routerLink="/units/unit3">2006 First VST series</a></li>

        <li class="p-2"><a href="/units/unit4" routerLink="/units/unit4">Soundcloud tracks</a></li>


        <li class="p-2"><a href="/units/unit5" routerLink="/units/unit5">Previews</a></li>

        <li class="p-2"><a href="/units/unit6" routerLink="/units/unit6">Other early work</a></li>

        <li class="p-2"><a href="/units/unit7" routerLink="/units/unit7">Index</a></li>

        <li class="p-2"><a href="/units/webdev" routerLink="/units/webdev">Web dev</a></li>

      </ul>

    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <app-diagnostics></app-diagnostics>
    </div>
  </div>
</div>